@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body h1,
h2,
h3,
h4 {
  font-family: "Oxygen", sans-serif;
}

body p,
ul,
li {
  font-family: "Open Sans", sans-serif;
}

.herostage div {
  background-color: white;
}
.herostage h1 {
  margin: 100px 0;
}
