/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

body h1 {
  font-family: "Oxygen", sans-serif;
}

#h1 {
  font-size: 4rem;
}

#h2 {
  font-size: 3rem;
}

#h3 {
  font-size: 2.5rem;
}

#h4 {
  font-size: 2rem;
}

#h5 {
  font-size: 1.25rem;
}

#body-fontsize {
  font-size: 16px;
}

/* GRID */

.container-fluid {
  margin: 0 60px;
  padding: 0;
}

/* HEROSTAGE */

.herostage {
  height: 600px;
}

h1,
h2,
h3,
h4 {
  margin: 2.5rem 0;
}

.jumbotron {
  background-color: white;
}

/* Image Teaser 4/4/4 */

.image-teaser .card {
  padding-right: 140px;
  border-style: none;
  border-color: white;
}

.image-teaser .card-body {
  padding: 0;
  margin: 0;
}

.image-teaser .card-img-top {
  margin: 0;
  padding: 0;
}

.image-teaser .p-3 {
  margin: 0;
  padding: 0;
}

/* Textblock 4/8 4/4/4 */

.textblock .jumbotron {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 200px;
}

/* Textteaser 4/8 4/4/4 */

.text-teaser .card-group {
  display: flex;
  justify-content: center;
}

.text-teaser .card {
  padding: 0 32px;
  border-style: none;
  border-color: white;
  max-width: 350px;
}

.text-teaser i {
  color: rgb(0, 17, 255);
  font-size: large;
}

.text-teaser ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.text-teaser .card-text {
  padding: 0;
}

.text-teaser .cta-link {
  display: flex;
  justify-content: center;
}

.text-teaser a {
  margin: 30px 0;
}

/* TEXTBLOCK BLACK */

.background-black {
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.background-black .jumbotron {
  background-color: black;
}

.background-black .textblock {
  color: white;
}

.textblock p {
  font-size: 16px;
  margin: 10px 0;
  color: grey;
}

.textblock hr {
  background-color: grey;
  margin: 10px;
}

